.container {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .add-button {
    float: right;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 
                0 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .employee-table {
    width: 100%;
  }
  